BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ContinuationIndentWidth: 4
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Always
PointerAlignment: Right
ReferenceAlignment: Right
SpacesBeforeTrailingComments: 1
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpaceInEmptyParentheses: false
SpacesInParentheses: false
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: true
BinPackArguments: true
BreakBeforeBinaryOperators: None
BreakAfterJavaFieldAnnotations: false
ColumnLimit: 0
AlignTrailingComments: true
AlignEscapedNewlines: Left
KeepEmptyLinesAtTheStartOfBlocks: false
Cpp11BracedListStyle: true
SortIncludes: false
DerivePointerAlignment: false
IndentCaseLabels: true
IndentGotoLabels: false
NamespaceIndentation: All