# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log

# CovScript intermediate file
*.cs_ext

# Darwin Picture File
*.cdpf
.idea/covscript.iml
.idea/modules.xml
.idea/workspace.xml
cmake-build-debug/
build/