# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
*.log

# CovScript intermediate files
tests/test.txt
*.cse

# Darwin Picture File
*.cdpf

# ImGui INI
imgui.ini

# IDE Configs
.idea/
.vscode/

# Build Caches
cmake-build-debug/
build/
build_x64/

# macOS Files
.DS_Store