name: Build & Test

on: [ push ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, windows-latest, macOS-latest ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build on Windows with MSVC
        if: matrix.os == 'windows-latest'
        run: .github/workflows/make_msvc_win64.bat

      - name: Build on Linux and macOS
        if: matrix.os != 'windows-latest'
        run: bash csbuild/make.sh

      - name: Test
        run: |
          build/bin/cs -v
          build/bin/cs .github/workflows/benchmark.csc
          build/bin/cs tests/test_reentrant_co.csc
          build/bin/cs tests/test_dead_co.csc
          build/bin/cs tests/inherit.csc

      - uses: actions/upload-artifact@main
        if: matrix.os == 'ubuntu-latest'
        with:
          name: covscript-ubuntu
          path: build

      - uses: actions/upload-artifact@main
        if: matrix.os == 'macOS-latest'
        with:
          name: covscript-macos
          path: build

      - uses: actions/upload-artifact@main
        if: matrix.os == 'windows-latest'
        with:
          name: covscript-windows
          path: build
